<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
<title>NorwayLook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="stylesheet" href="/css/norwaylook.css">
</head>
<body>

	<header>
		<h1>NorwayLook</h1>
		<h2>Вивчай норвезьку разом з нами!</h2>
		<nav>
			<ul>
				<li><a href="/norwaylook/phonetics">Алфавіт і вимова</a></li>
				<li><a href="/norwaylook/nouns">Іменники</a></li>
				<li><a href="/norwaylook/prepositions">Прийменники</a></li>
				<li><a href="/norwaylook/tenses">Часи</a></li>
				<li><a href="/norwaylook/pronouns">Займенники</a></li>
				<li><a href="/norwaylook/adjectives">Прикметники</a></li>
				<li><a href="/norwaylook/verbs">Дієслова</a></li>
				<li><a href="/norwaylook/word-order">Порядок слів</a></li>
				<li><a href="/norwaylook/articles">Артиклі (en/ei/et)</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h2>Ласкаво просимо до NorwayLook!</h2>
		<p>NorwayLook - це ваш надійний ресурс для вивчення норвезької мови...</p>
		<p>Наш сайт містить розділи, присвячені іменникам, прийменникам, часам...</p>
		<p>Приєднуйтесь до нашої спільноти та почніть свій шлях до вивчення норвезької мови вже сьогодні!</p>
	</main>

	<footer>
		<ul>
			<li><a href="/html/">Про нас</a></li>
			<li><a href="/html/">Головна сторінка</a></li>
			<li><a href="/html/">Контакти</a></li>
		</ul>
	</footer>

</body>
</html>